$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #01274b;
$red: #e31c3d;

@import "@science-medicine-group/package-global/scss/core";
/*! critical:start */
@import "@parameter1/base-cms-marko-web-reveal-ad/scss/reveal-ad";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/reveal-ad";
/*! critical:end */

.site-navbar {
  &__logo {
    height: 50px;
  }
}

// Newsletter Signup
/*! critical:start */
.newsletter-signup-banner--large {
  background-color: #f0f1f2;
}

.newsletter-signup-banner {
  &__cta {
    .btn-primary {
      background-color: $red;
    }
  }
}
.site-newsletter-menu {
  &__form-button {
    background-color: $red;
  }
}
/*! critical:end */
.site-footer {
  &__logo {
    filter: none;
  }
}
