$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #01274b;

@import "@science-medicine-group/package-global/scss/core";

.site-navbar {
  &__logo {
    height: 50px;
  }
}
