$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 995px,
  small-logo: 995px,
  small-text-primary: 0,
);

// Colors
$primary: #1378a9;

@import "@science-medicine-group/package-global/scss/core";
/*! critical:start */
@import "@parameter1/base-cms-marko-web-reveal-ad/scss/reveal-ad";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/reveal-ad";
/*! critical:end */
