$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 943px,
  small-logo: 943px,
  small-text-primary: 0,
);

// Colors
$primary: #1378a9;

@import "../../node_modules/@science-medicine-group/package-global/scss/core";
