.popup-modal-wrapper {
  $self: &;
  &--display-overlay {
    ~ .site-footer {
      display: none;
      margin-bottom: 0;
    }
    ~ .document-container {
      height: 0;
      overflow: hidden;
    }
  }
  &__overlay {
    z-index: 1499;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    bottom: 0;
    width: 100%;
    visibility: visible;
    transition: visibility 0s, opacity 0.5s linear;
    .newsletter-signup-modal-button {
      align-self: flex-end;
    }
  }
}

#newsletter-signup-modal {
  display: none;
}
.newsletter-signup-modal-center-column-outer {
  background-color: lighten($primary, 60%); // Taken from .newsletter-signup-banner &--large from core.scss
}

.newsletter-signup-modal-fade-in {
  display: block !important;
  z-index: 1501;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
