.site-menu {
  $self: &;
  opacity: 1;

  @media (min-width: $skin-desktop-menu-breakpoint) {
    width: 100%;
    height: initial;
    max-height: 0;
    transition: max-height .25s cubic-bezier(.4,0,.2,1),visibility 0s linear .25s;
    transform: none;

    &--open {
      max-height: 100vh;
      transition: max-height .25s cubic-bezier(.4,0,.2,1),visibility 0s linear 0s;
      transform: none;
    }
  }
}
