$ const { id, alias, name, pageNode } = input;

<global-website-section-feed-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>


  <!-- <@section>
    <theme-client-side-most-popular-block />
  </@section> -->
</global-website-section-feed-layout>
